@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 60%;
  margin: 50px auto;

  @media (max-width: 850px) {
    max-width: 80%;
  }

  @media (max-width: 510px) {
    max-width: 90%;
  }
}
